.Button {
    background-color: #FAD02C;
    width: 100%;
    color: #545454;
    border: 1px solid #1AC8DB;
    border-radius: 10px;
}

.Button:hover {
    background-color: #1AC8DB;
}

.SmallButton {
    background-color: #FAD02C;
    /* width: 20%; */
    color: #545454;
    border: 1px solid #1AC8DB;
    border-radius: 10px;
    margin-right: 0px;
}

.SmallButton:hover {
    background-color: #1AC8DB;
}



