.NavBar {
    border-bottom: 1px solid #fff;
    background-color: #fafafa
}

.NavLink {
    padding: 10px;
    font-weight: 550;
    color:  #1a7983;
}

.NavLink:hover {
    color: #1bc5d7;
    text-decoration: none;
}

.Active > i {
    color: #FAD02C
}


