.App {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: #F2f2f2;
}

.Body {
    padding-top: 100px;
}

/* Icons */

i {
    color: #1AC8DB;
    padding: 18px;
    font-size: 2.3em;
  }

i:hover {
    color: #159EAD;
    transition: color ease-in-out 0.4s;
  }

  /* Links */

a {
    color: #545454;
}
  
a:hover {
    color: #159EAD;
    text-decoration: none;
}

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}